{{/*
# SPDX-FileCopyrightText: 2020 Anubhav Choudhary
# SPDX-FileCopyrightText: 2020 Nikunj Goyal
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
{{ $common := resources.Get "scss/home.scss" }}
{{ $custom := resources.Get "scss/main.scss" }}
{{ $style := slice $common $custom | resources.Concat "scss/bundle.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<div class="d-flex jumb-bot">
  <div class="col-md-4"></div>
  <div class="jumbotron jumb-bot-jumbu col-md-4">

    <img style="height:12em;max-width:100%" src="/images/about.svg">

    <a href="{{ "/download" | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button noblefir my-2 mx-3">{{ i18n "home.download" }}</a>

  </div>
  <div class="col-md-4"></div>
</div>

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background"></div>
        </div>
    </div>
</section>

<main aria-label="Content" style="margin-right: none;" id="content">
  <div class="container">
    <div class="feature mt-4">
      <div>
        <h2>{{ i18n "home.features.privacy" }}</h2>
        <p>{{ i18n "home.features.privacy.description" | markdownify }}</p>
      </div>
      <div>
        <picture class="img-fluid">
          <source srcset="/images/adblocker_dark.png" media="(prefers-color-scheme: dark)">
          <img src="/images/adblocker.png" alt="{{ i18n "home.features.privacy.alt" }}">
        </picture>
      </div>
    </div>

    <div class="feature mt-4">
      <div>
        <h2>{{ i18n "home.features.themes" }}</h2>
        <p>{{ i18n "home.features.themes.description" }}</p>
      </div>
      <div>
        <picture class="img-fluid">
          <img src="/images/themes.png" alt="{{ i18n "home.features.themes.alt" }}">
        </picture>
      </div>
    </div>
  </div>

  <section class="background-blue">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 d-flex flex-column align-items-center text-center">
          <img src="/images/plasma.svg" alt="" width="128" height="128"/>
          <h2>{{ i18n "home.features.integrated" }}</h2>
          <p>{{ i18n "home.features.integrated.description" | markdownify }}</p>
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column align-items-center text-center">
          <img src="/images/osi.svg" width="128" height="128" alt=""/>
          <h2>{{ i18n "home.features.osi" }}</h2>
          <p>{{ i18n "home.features.osi.description" | markdownify }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-green py-4">
    <div class="container">
      <h2 class="mb-3 h1">{{ i18n "announcements" }}</h2>
      <div class="row">
      {{ $pages := (.Site.GetPage "/posts").RegularPagesRecursive }}
      {{ range .Site.Home.Translations }}
      {{ $pages = $pages | lang.Merge (.Site.GetPage "/posts").RegularPagesRecursive }}
      {{ end }}
      {{ range first 4 (where $pages "Params.hidden" "ne" "true") }}
        <div class="col-12 col-md-6 mb-4">
          <div class="text-lighter h6">{{ partial "i18n_date.html" . }}</div>
          <h3 class="mt-1 h4">{{ .Title | safeHTML}}</h3>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description }}
            {{else}}
              {{ .Summary | plainify }}
            {{end}}
            {{ if .Truncated }}
              <a href="{{ .Permalink }}" class="d-block mt-2">{{i18n "read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{end}}
      </div>
      <a href="/posts/" class="learn-more mt-3" style="font-weight: bold;">&#x1F4E2; {{ i18n "home.view-all-announcements" }}</a>
    </div>
  </section>

</main>
{{ end }}
